*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#0a0a0a,#3a4452) ;
    background-size: cover;
}

.calculator{
border: 2px solid #717377;
padding: 20px;
border-radius: 16px;
background-color: transparent;
box-shadow: 0px 3px 15px rgba(113, 115, 119,  0.5);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background:rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.3);
    font-size: 45px;
    text-align: right;
    cursor: pointer;
    color: aliceblue;
}

input::placeholder{
    color: aliceblue;
}

button{
    border: none;
    width: 65px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background:rgba(255, 255, 255, 0.1);
    color: aliceblue;
    font-size: 20px;
    box-shadow: .9px .9px 16px rgba(255, 255, 255, 0.1);
    cursor:pointer;
}

.equalBtn{
    background-color: orange;
}

.operator{
    color: green;
}
button:hover{
    color: #fff;
    background-color: #df7a21;
}